@import "./node_modules/bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css?family=Inconsolata");

$container-sm: 60%;

body {
  font-family: "Inconsolata";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Inconsolata";
  height: 100vh;
  color: #333;
  background-image: linear-gradient(
    to top left,
    rgb(205, 234, 231) 0%,
    rgb(218, 154, 231) 100%
  );
  justify-content: center;
  align-items: center;
  display: flex;
}

h1 {
  padding: 15px;
  font-weight: 100;
}

.container-sm {
  width: 60%;
  height: 30rem;
  background-color: rgba(255, 255, 255, 0.35);
  filter: blur();
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  text-align: center;
}

.btns-row {
  margin: auto;
  margin-top: 3rem;
}

.number-row {
  margin-top: 2rem;
}
